@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  font-family: "Nunito", sans-serif;
}

.main-div {
  padding: 5rem;
}

.login-form {
  font-family: "Nunito", sans-serif;
  width: 50%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 1rem;
}

.split {
  font-family: "Nunito", sans-serif;
  height: 100%;
  width: 50%;
  position: fixed;
  top: 0;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: rgb(218, 218, 218);
}

/* Control the right side */
.right {
  right: 0;
  background-color: rgb(199, 243, 247);
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}
